.header{
    background-color: black;
    width: 100%;
    z-index: 3;
    margin-bottom: auto;
}

.header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    float: left;
    color: #ffffff;
}

.header li a:hover{
    color: #00c3ff;
    font-weight: 500;
}


/* display: inline-block;
    animation: rotate 2s linear infinite;

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
